.modal.zoomIn.show{
    background: #fd9651;
    background: -moz-linear-gradient(top, #fd9651 0%, #ffffff 50%);
    background: -webkit-linear-gradient(top, #fd9651 0%,#ffffff 50%);
    background: linear-gradient(to bottom, #fd9651 0%,#ffffff 50%);
}