<app-Header></app-Header>
<section class="breadcrumb-padding color-them-1">
    <div class="box-top-t">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="col-xl-2">&nbsp;</div>
            <div class="bg-white minh620 border-radius-3 col-xl-8 col-lg-8 col-md-8">
                <h5 class="padding-eight-top text-extra-medium">FAQ</h5>


                <div class="clearfix margin-four-top" *ngIf="faqData?.faqs && (faqData.faqs).length>0">



                    <!-- question start -->
                    <div class="bg-white  "  *ngFor="let faq of faqData.faqs; let ind = index;">
                        <!-- question title start -->
                        <div class="faqs">
                            <a class="text-black-ni" data-toggle="collapse" (click)="toggleModal('collapse'+ ind)" href="#collapse{{ind}}" >

                                <span class="text-extra-medium text-black-ni faq-line-width " [innerHTML]="faq?.ques"></span>

                                <i class="color-them-1 cokl fas fa-plus b  padding-10px"></i>
                            </a>
                        </div>
                        <!-- question title end -->
                        <!-- question description start -->
                        <div id="collapse{{ind}}" class="collapse padding-three-top ">
                            <p class="text-small  show no-margin-bottom sm-text-large" [innerHTML]="faq?.ans"></p>
                        </div>
                        <!-- question description end -->
                        <hr class="border-set" />
                    </div>
                    <!-- question end -->
                </div>


            </div>
            <div class="col-xl-2">&nbsp;</div>
        </div>
    </div>

</section>
<app-Footer></app-Footer>
