<app-Header></app-Header>
<section class="breadcrumb-padding color-them-1">
    <div class="box-top-t">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="col-xl-2">&nbsp;</div>
            <div class="bg-white minh620 border-radius-3 col-xl-8 col-lg-8 col-md-8">
                <h5 class="padding-eight-top text-extra-medium">FAQ</h5>


                <div class="clearfix margin-four-top">



                    <!-- question start -->
                    <div class="bg-white  ">
                        <!-- question title start -->
                        <div class="faqs">
                            <a class="text-black-ni" data-toggle="collapse" href="#collapse8" (click)="toggleModal('collapse8')">

                                <span class="text-extra-medium text-black-ni faq-line-width ">What is Lorem
                                    Ipsum?</span>

                                <i class="color-them-1 cokl fas fa-plus b  padding-10px"></i>
                            </a>
                        </div>
                        <!-- question title end -->
                        <!-- question description start -->
                        <div id="collapse8" class="collapse show padding-three-top ">
                            <p class="text-small  show no-margin-bottom sm-text-large">Lorem Ipsum is simply dummy text
                                of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                                dummy text ever since the 1500s, when an unknown printer took a galley of type and
                                scrambled it to make a type specimen book.</p>
                        </div>
                        <!-- question description end -->
                        <hr class="border-set" />
                    </div>
                    <!-- question end -->
                </div>


            </div>
            <div class="col-xl-2">&nbsp;</div>
        </div>
    </div>

</section>
<app-Footer></app-Footer>
