.cart-drop-down {
  line-height: 32px;
}
.addpaddings {
  padding-bottom: 20px;
  padding-top: 10px;
}
.show-option {
  z-index: 2;
  opacity: 1;
  display: block;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.topbottompaddings {
  padding-top: 5px;
  padding-bottom: 5px;
}
.textalignstart {
  text-align: start;
  max-height: 500px;
}
