<app-Header></app-Header>
<section class="breadcrumb-padding color-them-1">
    <div class="box-top">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 text-center col-md-12">
                <div class=" box-rounder padding-nine-top">
                    <span>
                        <img class="animated zoomIn" src="assets/img/cart.png">
                    </span>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- breadcrumb section end -->
<!-- forgot password section start -->
<section class="clearfix  ">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 center-col text-center">
                <div class="forgot-pwd">
                    <!-- title start -->
                    <div class="margin-bottom-15px">
                        <h3 class="font-weight-600 text-extra-large md-title-mdall"> Your Shopping Cart is Empty </h3>

                    </div>
                    <!-- title end -->
                    <div class="forgot-box">

                        <!-- get password start -->
                        <div class="new-pwd">
                            <a href="#" class="btn btn-small"> Go for Shopping </a>
                        </div>
                        <!-- get password end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-Footer></app-Footer>