<app-Header></app-Header>
<!-- breadcrumb section start -->
<section class="breadcrumb-padding color-them-1">
    <div class="box-top-t">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="col-xl-2">&nbsp;</div>
            <div class="bg-white minh620 border-radius-3 col-xl-8 col-lg-8 col-md-8">
                <h5 class="padding-eight-top text-extra-medium">About Us</h5>
                <h6 class="padding-three-top text-small">Write to Us</h6>
                <p class="padding-15px-tb text-small">Ridekaart is a startup that lets car passengers buy snacks and
                    other items en route to their destination. We are a convenience store on the go, that gives
                    qualified ride-sharing drivers the ability to sell items by providing them with free boxes filled
                    with the kinds of goods you might find in a convenience store, including snacks, beauty products and
                    phone chargers.</p>

                <p class="padding-15px-tb text-small">Riders can use Ridekaart’s mobile web menu on their smartphones
                    (without downloading an app) to buy what they need.</p>



            </div>
            <div class="col-xl-2">&nbsp;</div>
        </div>
    </div>

</section>
<app-Footer></app-Footer>