<app-Header></app-Header>
<!-- breadcrumb section start -->
<section class="breadcrumb-padding color-them-1">
    <div class="box-top">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 text-center col-md-12">
                <div class=" box-rounder padding-nine-top">
                    <span>
                        <img class="animated zoomIn" src="assets/img/Suc.png">
                    </span>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- breadcrumb section end -->
<!-- forgot password section start -->
<section class="clearfix  ">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 center-col text-center">
                <div class="forgot-pwd">
                    <!-- title start -->
                    <div class="margin-bottom-15px">
                        <h3 class="font-weight-600 text-extra-large md-title-mdall"> Congratulations! </h3>
                        <p> You have successfully made the payment. The <br>driver will handover your order when it is
                            safe to do so. </p>
                        <p class="margin-one-half-bottom"> For support contact </p>
                        <b> 9742046886 / 9886663565</b>

                        <div class="margin margin-ten-top">
                            <p> <b>Rate this Service</b> </p>
                            <div class="rating d-block">
                                <i class="fa fa-star text-rating font-weight-600"></i>
                                <i class="fa fa-star text-rating font-weight-600"></i>
                                <i class="fa fa-star text-rating font-weight-600"></i>
                                <i class="fa fa-star text-rating font-weight-600"></i>
                                <i class="fa fa-star text-rating-gray font-weight-600"></i>
                            </div>
                        </div>
                    </div>
                    <!-- title end -->
                    <div class="forgot-box">

                        <!-- get password start -->
                        <div class="new-pwd">
                            <a href="#" class="btn btn-small"> Thank you </a>
                        </div>
                        <!-- get password end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-Footer></app-Footer>