<app-Header webTool="true" [navigations]="navigations"></app-Header>
<section class="padding-top-20px color-them-1">
    <!-- pop-up section start -->
    <div class="popup  animated modal zoomIn" id="myModal1" role="dialog">
        <div class="  modal-dialog bd-example-modal-lg">
            <!-- pop-up modal content start -->
            <div class="modal-content">
                <!-- pop-up modal body start -->
                <div class="modal-body bg-white">
                    <div class="row">

                        <div class="col-xl-12 col-lg-12 col-md-12 col-12 d-flex align-items-center">
                            <div class="padding-nine-top padding-nine-bottom padding-right-15px padding-left-15px width-100-d" *ngIf="selectedProduct">
                                <a style="float:right;margin-top: 10px;" data-dismiss="modal">
                                            <img src="assets/img/close-btn.png">
                                        </a>
                                <div class="clearfix text-center border-light-site padding-25px  margin-bottom-10px" routerLink="/ProductDetail/{{selectedProduct.id}}"
                                    (click)="HideModal()">
                                    <img class="cust-prod-image" src="{{(selectedProduct && selectedProduct && selectedProduct.adminProductsResponseModels.productsImagesResponseModel && selectedProduct.adminProductsResponseModels.productsImagesResponseModel.length > 0) ?  selectedProduct.adminProductsResponseModels.productsImagesResponseModel[0].idUrl : ''}}"
                                    />
                                </div>
                                <h5 class="text-large"> {{selectedProduct.adminProductsResponseModels.name}} </h5>
                                <!-- pop-up news-letter start -->
                                <div class="clearfix list-item margin-three-top">
                                    <div class="content-section">
                                        <!-- product price-tag start -->
                                        <div class="price product-price d-block margin-bottom-15px sm-margin-bottom-10px">

                                            <span class="product-final-price font-weight-600 cokl">₹{{selectedProduct.adminProductsResponseModels.mainprice | number:'1.00-0'}}</span>

                                        </div>
                                        <!-- product price-tag end -->
                                        <!-- product description start -->
                                        <div class="product-description d-block margin-bottom-15px sm-margin-bottom-10px">
                                            <p class="no-margin-bottom text-small-1">
                                                {{selectedProduct.adminProductsResponseModels.description}}
                                            </p>
                                        </div>
                                        <!-- product description end -->
                                        <hr class="border-light-site margin-one-top margin-one-bottom">

                                        <!-- product color Brand -->
                                        <div class="color d-block   ">
                                            <label class="font-weight-600 no-margin-bottom cokl">Brand</label>
                                            <p class="text-medium margin-one-bottom">
                                                {{selectedProduct.adminProductsResponseModels.brandname}}</p>
                                        </div>
                                        <!-- product Brand end -->
                                        <hr class="border-light-site margin-one-top margin-one-bottom">
                                        <!-- product color Brand -->
                                        <div class="color d-block    ">
                                            <label class="font-weight-600 no-margin-bottom cokl">Category</label>
                                            <p class="text-medium margin-one-bottom">
                                                {{selectedProduct.adminProductsResponseModels.categoryname}}</p>
                                        </div>
                                        <!-- product Brand end -->
                                        <hr class="border-light-site margin-one-top margin-one-bottom">
                                        <!-- product color Brand -->
                                        <div class="color d-block  ">
                                            <label class="font-weight-600 no-margin-bottom cokl">Size</label>
                                            <p class="text-medium margin-one-bottom">
                                                {{selectedProduct.adminProductsResponseModels.sizesname}}</p>
                                        </div>
                                        <!-- product Brand end -->
                                    </div>
                                </div>
                                <!-- pop-up news-letter end -->
                            </div>
                        </div>
                        <!-- product action start -->
                        <!-- product action end -->
                    </div>
                    <div class="row " *ngIf="selectedProduct">
                        <div class="col-xl-12 ">
                            <div class="site-bg padding-top-15px padding-bottom-15px padding-left-15px padding-right-15px ">
                                <div class="d-inline-block" style="width:100%;text-align: center;" [ngClass]="{'zero-opacity': (fetchQunt(selectedProduct) === 0), 'padding-bottom-px' : (fetchQunt(selectedProduct) !== 0)}">
                                    <div class="quantity d-block margin-bottom-25px sm-margin-bottom-20px">
                                        <label class="d-block font-weight-600 no-margin-bottom colo text-white">Quantity:</label>
                                        <span class="  sm-text-large">
                                            <a href="javascript:void(0)" (click)="removeTCart(selectedProduct)"
                                               class="minus-btn op-set text-black text-white"><i
                                                    class="fas fa-minus bg-transparent"></i></a>
                                                    <input type="text" disabled id="quantity" name="quantity"
                                                           value="{{fetchQunt(selectedProduct)}}">
                                            <a href="javascript:void(0)" (click)="addToCartProduct(selectedProduct)"
                                               class="plus-btn op-set text-black text-white"><i
                                                    class="fas fa-plus bg-transparent"></i></a>
                                        </span>
                                    </div>
                                </div>
                                <div class="d-inline-block" style="width:100%;text-align: center;" [ngClass]="{'zero-opacity': !(fetchQunt(selectedProduct) === 0)}">
                                    <a href="javascript:void(0)" class="btn btn-small op-set" (click)="addToCartVal(selectedProduct)"> <img
                                            src="assets/img/cart-white.png"> Add to Cart </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pop-up modal body end -->
            </div>
            <!-- pop-up modal content end -->
        </div>
    </div>
    <!-- pop-up section end -->
    <!-- start slider -->
    <section class="padding-25px-tb">
        <div class="container-fluid">

            <div class="swiper-container single-item-rtl swiper-container-initialized swiper-container-horizontal" [hidden]="productsBanner.length === 0"
                id="product-slider">
                <div class="swiper-wrapper" style="transform: translate3d(-570px, 0px, 0px); transition-duration: 0ms;">
                    <div class="swiper-slide border-radius-4" style="width: 255px; margin-right: 30px;" *ngFor="let banner of productsBanner;">
                        <!-- product start -->
                        <div class="column padding-top-25px padding-bottom-25px">
                            <div class="product-img">
                                <!-- product image start -->
                                <figure class="margin-bottom-10px">
                                    <a href="javascript:void(0)" class="image">
                                        <!-- product first image start -->
                                        <img class="pic-1 img-fluid" src="{{isMobile() ? banner.idUrlMobile : banner.idUrl}}" alt="productimg16">
                                        <!-- product first image end -->
                                        <!-- product second image start -->
                                        <img class="pic-2 img-fluid" src="{{isMobile() ? banner.idUrlMobile : banner.idUrl}}" alt="productimg16-16">
                                        <!-- product second image end -->

                                    </a>

                                </figure>
                                <!-- product image end -->

                            </div>
                            <!-- <a class="carts" (click)="AddtoCart()">
                                <img src="assets/img/cartset.png">
                            </a>-->
                        </div>
                        <!-- product end -->
                    </div>
                </div>

                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
        </div>
    </section>
    <!-- end slider -->

    <div class="container">
        <ng-container *ngIf="promocodes != null">
            <div class="row">
                <div style="background-color: #ffb078;width: 100%;margin: auto;max-width: 500px;">
                    <div class="cart-product-info">
                        <h5 style="color: #fff;margin-top:7px;float: left;max-width: 70% !important;font-size: small;"> &nbsp;
                            <ng-container *ngIf="promocodes.type == 'Direct'">
                                {{promocodes.amount}} Rs Discount
                            </ng-container>
                            <ng-container *ngIf="promocodes.type != 'Direct'">
                                {{promocodes.amount}}% Discount
                            </ng-container>
                            on Promo
                        </h5>
                        <button class="btn op-set border-radius-4 form-control text-center line-height-26" *ngIf="promoCodeEnt == null || promoCodeEnt != promocodes.name"
                            (click)="checkPromoCode();" style="margin-bottom:7px;margin-top:7px;color: #fff;background-color:green;float:  right;width: 30% !important; max-width: 100px; margin-right: 5px">Apply</button>                        &nbsp;
                        <label *ngIf="promoCodeEnt != null || promoCodeEnt == promocodes.name" style="margin-top:7px;color: white;margin-top:0px;font-size: 16px;background: green;padding:3px; float:  right;max-width: 30% !important; border-radius: 5px;padding: 10px; margin-right: 5px;margin-bottom:7px;margin-top:7px;">Applied</label>
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="row">
            <br/>
            <div class="alert alert-danger alert-dismissable" *ngIf="errorMessage">
                {{errorMessage}}
                <a class="close" (click)="errorMessage=null;">&times;</a>
            </div>
            <div class="alert alert-success alert-dismissable" *ngIf="successMessage">
                {{successMessage}}
                <a class="close" (click)="successMessage=null;">&times;</a>
            </div>
            <br/>
            <!-- grid & list button start -->
            <div class="col-xl-8 col-lg-8 col-md-6 col-12 d-flex align-items-center view-mode sm-margin-bottom-15px">
                <!-- sortby title start -->
                <div class="grid-list-content d-inline-block margin-right-5px">
                    <h6 class="font-weight-600 main-font text-medium">Popular goods</h6>
                </div>
                <!-- sortby title end -->


            </div>
            <!-- grid & list button end -->
            <!-- sortby start -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-12 d-flex align-items-center justify-content-end sm-display-block">


                <!-- 4 grid image start -->
                <div class="grid-list bg-white padding-5px  d-inline-block" [ngClass]="{'filled' : displaytype === 'box'}">
                    <a href="javascript:void(0)" (click)="displaytype = 'box'" data-toggle="tooltip" title="BOX">
                        <img src="assets/img/gr-1.png" alt="BOX" class="id">
                        <img src="assets/img/gr-1.png" alt="BOX" class="id1">
                    </a>
                </div>
                <!-- 4 grid image end -->
                <!-- 3 grid image start -->
                <div class="grid-list bg-white padding-5px d-inline-block margin-left-5px" [ngClass]="{'filled' : displaytype === 'frame'}">
                    <a href="javascript:void(0)" (click)="displaytype = 'frame'" data-toggle="tooltip" title="LINE">
                        <img src="assets/img/gr-2.png" alt="LINE" class="id">
                        <img src="assets/img/gr-2.png" alt="LINE" class="id1">
                    </a>
                </div>
                <!-- 3 grid image end -->

            </div>
            <!-- sortby end -->
        </div>
        <!-- border start -->
        <div class="border-bottom-light-new padding-top-15px margin-bottom-15px  sm-display-none" style="  width: 82%;  margin-top: -33px;  margin-left: 117px;"></div>
        <!-- border end -->
        <div [hidden]="displaytype === 'frame'" id="box" class="row padding-top-15px">

            <div class="col-xl-2 col-lg-2 col-md-4 col-6 frame fgrid margin-bottom-30px sm-margin-bottom-20px" *ngFor="let product of productsArray">
                <!-- blog image start -->
                <div class="blog-grid-img bg-white text-center padding-top-15px border-radius-4">
                    <a (click)="AddtoCart(product)">
                        <img src="{{(product.adminProductsResponseModels.productsImagesResponseModel && product.adminProductsResponseModels.productsImagesResponseModel.length > 0) ?  product.adminProductsResponseModels.productsImagesResponseModel[0].idUrl : ''}}"
                             alt="blog-grid1" class="img-fluid cust-prod-image ">
                    </a>
                    <hr>
                    <div class="padding-left-5px productname">
                        <p class="text-medium1 margin-bottom-5px min-height-50px " [ngClass]="{'text-left' : !isMobile(), 'text-center': isMobile()}"
                            (click)="AddtoCart(product)">
                            {{product.adminProductsResponseModels.name}}</p>
                        <p class="d-flex margin-bottom-5px">
                            <span class=" cokl" [ngClass]="{'text-left width-100-px' : !isMobile(), 'text-center': isMobile()}" [style.width.%]="isMobile() ? 50 : auto">
                                ₹{{product.adminProductsResponseModels.mainprice | number:'1.00-0'}}
                            </span>
                            <span class="" [ngClass]="{'text-right' : !isMobile(), 'text-center': isMobile()}" [style.width.%]="isMobile() ? 50 : auto">
                                <img src="assets/img/star.png"> {{product.adminProductsResponseModels?.rating ? product.adminProductsResponseModels?.rating : 0}}
                            </span>
                        </p>
                    </div>
                    <hr>
                    <div class="margin-bottom-15px" style="background-color: red;padding: 5px; color: #fff" *ngIf="product?.adminProductsResponseModels?.paidQuantity != null && product?.adminProductsResponseModels?.paidQuantity != 0 && product?.adminProductsResponseModels?.buyQuant != null && product?.adminProductsResponseModels?.discountQuant != null && product?.adminProductsResponseModels?.discountPercent != null && product?.adminProductsResponseModels?.discountPercent != '' && product?.adminProductsResponseModels?.discountQuant != '' && product?.adminProductsResponseModels?.buyQuant != '' ">
                        Buy {{product?.adminProductsResponseModels?.buyQuant}} Get {{product?.adminProductsResponseModels?.discountQuant}} @ {{product?.adminProductsResponseModels?.discountPercent}}%
                        off
                    </div>
                    <div class="d-inline-block text-right" style="background-color: red;padding: 5px; color: #fff" *ngIf="product?.productType == 'Sample'">
                        {{product.maxFree}} Free Product</div>
                    <div class="margin-bottom-15px">
                        <span class="quantity d-block" [ngClass]="{'zero-opacity': (fetchQunt(product) === 0), 'padding-bottom-30px' : (fetchQunt(product) !== 0)}">
                            <span class="padding-5px border-light-gray sm-text-large">
                                    <a href="javascript:void(0)" (click)="removeTCart(product)"
                                       class="minus-btn op-set text-black text-white"><i
                                            class="fas fa-minus bg-transparent"></i></a>
                                        <input type="text" disabled id="quantity" name="quantity"
                                               value="{{fetchQunt(product)}}">
                                <a href="javascript:void(0)" (click)="addToCartProduct(product)"
                                   class="plus-btn op-set text-black text-white"><i
                                        class="fas fa-plus bg-transparent"></i></a>
                            </span>
                        </span>
                    </div>
                    <div class="clearfix settop-margin15 padding-left-15px padding-bottom-15px padding-right-15px" [ngClass]="{'zero-opacity': !(fetchQunt(product) === 0)}">
                        <a href="javascript:void(0)" class="btn btn-small op-set border-radius-4 form-control text-center text-small2 line-height-26"
                            (click)="addToCartVal(product)"> <img
                                src="assets/img/cart-white.png"> Add to Cart </a>
                    </div>
                </div>
                <!-- blog image end -->

            </div>
        </div>
        <div [hidden]="displaytype === 'box'" id="frame" class="row padding-top-15px">

            <div class="col-xl-4 col-lg-4 col-md-4 col-12 frame fgrid margin-bottom-30px sm-margin-bottom-20px" *ngFor="let product of productsArray">
                <!-- blog image start -->
                <div class="blog-grid-img bg-white text-center padding-top-15px border-radius-4">
                    <div class="d-inline-block">
                        <a (click)="AddtoCart(product)">
                            <img src="{{(product.adminProductsResponseModels.productsImagesResponseModel && product.adminProductsResponseModels.productsImagesResponseModel.length > 0) ?  product.adminProductsResponseModels.productsImagesResponseModel[0].idUrl : ''}}"
                                 alt="blog-grid1" class="img-fluid d-inline-block cust-prod-image">
                        </a>
                    </div>
                    <div class="padding-left-5px d-inline-block" style="vertical-align: top;max-width: 192px;">
                        <p class="text-left text-medium1 margin-bottom-5px min-height-50px min-width-190px" (click)="AddtoCart(product)" style="min-height: 50px;">
                            {{product.adminProductsResponseModels.name}}</p>
                        <p class=" margin-bottom-5px">
                            <span class="text-left d-block cokl">
                                 ₹{{product.adminProductsResponseModels.mainprice | number:'1.00-0'}}
                                 <div class="d-inline-block text-right" style="background-color: red;padding: 5px; color: #fff" *ngIf="product?.adminProductsResponseModels?.paidQuantity != null && product?.adminProductsResponseModels?.paidQuantity != 0 && product?.adminProductsResponseModels?.buyQuant != null && product?.adminProductsResponseModels?.discountQuant != null && product?.adminProductsResponseModels?.discountPercent != null && product?.adminProductsResponseModels?.discountPercent != '' && product?.adminProductsResponseModels?.discountQuant != '' && product?.adminProductsResponseModels?.buyQuant != '' ">
                                    Buy {{product?.adminProductsResponseModels?.buyQuant}} 
                                    Get {{product?.adminProductsResponseModels?.discountQuant}} 
                                    @ {{product?.adminProductsResponseModels?.discountPercent}}% off</div>
                                    <div class="d-inline-block text-right" style="background-color: red;padding: 5px; color: #fff"  *ngIf="product?.productType == 'Sample'">
                                        {{product.maxFree}} Free Product</div>
                            </span>
                            <span class="d-block text-left ">

                                <div class="d-inline-block text-left width-100-px">
                                    <img src="assets/img/star.png">  {{product.adminProductsResponseModels?.rating ? product.adminProductsResponseModels?.rating : 0}}
                                </div>
                               
                                <div class="d-inline-block text-right" [ngClass]="{'zero-opacity': (fetchQunt(product) === 0), 'padding-bottom-30px' : (fetchQunt(product) !== 0)}">
                                    <span class="quantity d-block">
                                        <span class="padding-5px border-light-gray sm-text-large">
                                            <a href="javascript:void(0)" (click)="removeTCart(product)"
                                               class="minus-btn cokl text-black"><i
                                                    class="fas fa-minus bg-transparent"></i></a>
                                            <input type="text" name="name" value="1"
                                            value="{{fetchQunt(product)}}"
                                                   class="border-left-light-gray border-right-light-gray">
                                            <a href="javascript:void(0)" (click)="addToCartProduct(product)"
                                               class="plus-btn cokl text-black"><i
                                                    class="fas fa-plus bg-transparent"></i></a>
                                        </span>
                            </span>
                    </div>
                    </span>
                    </p>
                    <p></p>
                    <div class=" clearfix max-width-135px settop-margin15  padding-bottom-15px padding-right-15px" [ngClass]="{'zero-opacity': !(fetchQunt(product) === 0)}">
                        <a href="javascript:void(0)" (click)="addToCartVal(product)" class=" btn-small border-radius-4 form-control text-center text-small2 line-height-26"><img
                                    src="assets/img/cart-white.png" width="15px"> Add to cart</a>
                    </div>
                </div>
            </div>
            <!-- blog image end -->
        </div>
    </div>
    <!-- pagination start -->
    <!--<div class="page-bar d-flex justify-content-start">
                <ul class="pag-nav">
                    <li><a href="javascript:void(0)" class="sm-text-large"><i class="fas fa-long-arrow-alt-left"></i></a>
                    </li>
                    <li class="active sm-text-large"><a href="javascript:void(0)">1</a></li>
                    <li><a href="javascript:void(0)" class="sm-text-large">2</a></li>
                    <li><a href="javascript:void(0)" class="sm-text-large">3</a></li>
                    <li><a href="javascript:void(0)" class="sm-text-large">4</a></li>
                    <li><a href="javascript:void(0)" class="sm-text-large">5</a></li>
                    <li><a href="javascript:void(0)" class="sm-text-large"><i class="fas fa-long-arrow-alt-right"></i></a>
                    </li>
                </ul>
            </div>-->
    <!-- pagination end -->
    <br>
    </div>
</section>
<!-- blog grid section end -->
<app-Footer></app-Footer>