.cust-prod-image {
  height: 98px;
  width: 98px;
  object-fit: cover;
}

.productname {
  height: 70px;
}

.zero-opacity {
  opacity: 0;
  display: none !important;
}

.one-opacity {
  opacity: 1;
}

  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    word-break: break-all;
    width: 100%;
    left:0;
    color:#fff;
    text-align: center;
  }

.padding-bottom-30px {
  padding-bottom: 30px;
}

.filled {
  background-color: #ffb078 !important;
}
.min-height-50px {
  min-height: 50px;
}
.max-width-135px {
  max-width: 135px;
}
.min-width-190px {
  min-width: 190px;
}
