<app-Header></app-Header>
<section class="breadcrumb-padding color-them-1">
    <div class="box-top-t">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="col-xl-2">&nbsp;</div>
            <div class="bg-white minh620 border-radius-3 col-xl-8 col-lg-8 col-md-8">
                <h5 class="padding-eight-top text-extra-medium">Terms and Conditions</h5>
                <h6 class="padding-three-top text-small">1. TERMS</h6>
                <p class="padding-15px-tb text-small"> By accessing this web site, you are agreeing to be bound by these
                    web site Terms and Conditions of
                    Use, all applicable laws and regulations, and agree that you are responsible for compliance with any
                    applicable local laws. If you do not agree with any of these terms, you are prohibited from using or
                    accessing this site. The materials contained in this web site are protected by applicable copyright
                    and trade mark law.</p>
                <h6 class="padding-three-top text-small">2. DISCLAIMER</h6>
                <p class="padding-15px-tb text-small">The materials on Ridekaart's web site are provided "as is".
                    Ridekaart makes no warranties, expressed or implied, and hereby disclaims and negates all other
                    warranties, including without limitation, implied warranties or conditions of merchantability,
                    fitness for a particular purpose, or non-infringement of intellectual property or other violation of
                    rights. Further, Ridekaart does not warrant or make any representations concerning the accuracy,
                    likely results, or reliability of the use of the materials on its Internet web site or otherwise
                    relating to such materials or on any sites linked to this site.</p>
                <h6 class="padding-three-top text-small">3. LIMITATIONS</h6>
                <p class="padding-15px-tb text-small">In no event shall Ridekaart or its suppliers be liable for any
                    damages (including, without limitation,
                    damages for loss of data or profit, or due to business interruption,) arising out of the use or
                    inability
                    to use the materials on Ridekaart's Internet site, even if Ridekaart or a Ridekaart authorized
                    representative has been notified orally or in writing of the possibility of such damage.</p>

            </div>
            <div class="col-xl-2">&nbsp;</div>
        </div>
    </div>

</section>
<!-- breadcrumb section end -->
<!-- forgot password section start -->
<section class="clearfix  ">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 center-col text-center">
                <div class="forgot-pwd">


                </div>
            </div>
        </div>
    </div>
</section>
<app-Footer></app-Footer>