<app-Header></app-Header>
<section class="webpage-site">
    <!-- pop-up section start -->
    <div class="popup  animated modal zoomIn" id="myModal1" role="dialog">
        <div class="  modal-dialog bd-example-modal-lg">
            <!-- pop-up modal content start -->
            <div class="modal-content">
                <!-- pop-up modal body start -->
                <div class="modal-body bg-white">
                    <div class="row">
                        <a class="rounder animated zoomIn" data-dismiss="modal"> <img src="assets/img/close-btn.png">
                        </a>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12 d-flex align-items-center">

                            <div
                                class="padding-nineteen-top padding-nineteen-bottom padding-right-15px padding-left-15px width-100-d">
                                <h5 class="text-large">Add Payment Method</h5>

                                <!-- pop-up news-letter start -->
                                <div class="clearfix list-item margin-three-top">


                                    <ul>
                                        <li class="row padding-nine-top">
                                            <span class="col-md-10 text-small2"><img src="assets/img/wallets.png">
                                                Wallets</span>
                                            <span class="col-md-2 text-right"> <i class="fas arro fa-chevron-right"></i>
                                            </span>
                                        </li>
                                        <li class="row padding-nine-top">
                                            <span class="col-md-10 text-small2"><img src="assets/img/upi.png">
                                                UPI</span>
                                            <span class="col-md-2 text-right"> <i class="fas arro fa-chevron-right"></i>
                                            </span>
                                        </li>
                                        <li class="row padding-nine-top">
                                            <span class="col-md-10 text-small2"><img src="assets/img/credit.png">
                                                Credit/Debit Card</span>
                                            <span class="col-md-2 text-right"> <i class="fas arro fa-chevron-right"></i>
                                            </span>
                                        </li>
                                        <li class="row padding-nine-top">
                                            <span class="col-md-10 text-small2"><img src="assets/img/banking.png">
                                                Net Banking</span>
                                            <span class="col-md-2 text-right"> <i class="fas arro fa-chevron-right"></i>
                                            </span>
                                        </li>

                                    </ul>

                                </div>
                                <div class="clearfix">

                                    <button class="padding-two btn btn-button form-control  text-medium"> <img
                                            src="assets/img/plus.png"> Add payment method</button>
                                </div>
                                <!-- pop-up news-letter end -->
                            </div>

                        </div>

                    </div>
                </div>
                <!-- pop-up modal body end -->
            </div>
            <!-- pop-up modal content end -->
        </div>
    </div>
    <!-- pop-up section end -->
</section>

<app-Footer></app-Footer>