<app-Header></app-Header>
<section class="breadcrumb-padding color-them-1">
    <div class="box-top">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 text-center col-md-12">
                <div class=" box-rounder padding-nine-top">
                    <span>
                        <img class="animated zoomIn" style="padding: 0px !important;" src="assets/img/box.png">
                    </span>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- breadcrumb section end -->
<!-- forgot password section start -->
<section class="clearfix  ">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 center-col text-center">
                <div class="forgot-pwd">
                    <!-- title start -->
                    <div class="margin-bottom-15px">
                        <h3 class="font-weight-600 text-extra-large md-title-mdall">Enter Box No to Continue</h3>
                    </div>
                    <!-- title end -->
                    <div class="forgot-box">

                        <!-- input email or user start -->
                        <div class="email-user" style="padding: 0px !important;">
                            <input id="bx0" type="number" maxlength="1" style="border: 1px solid #fd9652;" [(ngModel)]="nums[0]" required (keypress)="isNumberKey($event, 'bx1', '')" (keydown)="KeyDown($event, 'bx1', '')">
                            <input id="bx1" type="number" maxlength="1" style="border: 1px solid #fd9652;" [(ngModel)]="nums[1]" required (keypress)="isNumberKey($event, 'bx2', 'bx1')" (keydown)="KeyDown($event, 'bx2', 'bx1')">
                            <input id="bx2" type="number" maxlength="1" style="border: 1px solid #fd9652;" [(ngModel)]="nums[2]" required (keypress)="isNumberKey($event, 'bx3', 'bx2')" (keydown)="KeyDown($event, 'bx3', 'bx2')">
                            <input id="bx3" type="number" maxlength="1" style="border: 1px solid #fd9652;" [(ngModel)]="nums[3]" required (keypress)="isNumberKey($event, 'submit', 'bx3')" (keydown)="KeyDown($event, 'submit', 'bx3')">
                        </div>
                        <!-- input email or user end -->
                        <!-- get password start -->
                        <div class="new-pwd">
                            <a id="submit" href="javascript:void(0)" class="btn btn-small" (click)="submitBoxNUmber()"> Search </a>
                        </div>
                        <!-- get password end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-Footer></app-Footer>
