<app-Header></app-Header>
<div class="breadcrum">
    <div class="container">
        <div class="row padding-fifteen">
            <div class="col-xl-9 col-xs-4 col-6">
                <a class="">  <span><img class="icon-breadcurm" src="assets/img/box2.png"></span> 3840</a>
            </div>
            <div class="col-xl-3  col-xs-8 col-6 text-right no-padding-right">
                <div class="search-bar collapse show" id="search" style="">
                    <input type="text" class="text-black form-control" placeholder="Search">
                    <img class="d-block sm-display-none" style="    position: absolute; right: 5px; top: 6px; " src="assets/img/search.png">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product-detail section start -->
<section class="breadcrumb-padding color-them-1">
    <div class="container">
        <div class="row product-service-without-sticky product-detail-list product-quickview-section" *ngIf="(allProducts && allProducts.length>0); else elseBlock">

            <div class="col-xl-9 ">

                <div class="col-xl-12   bg-white border-radius-4">

                    <div class="row  padding-top-25px border-bottom-s">
                        <div class="col-xl-6 col-6 col-xs-6 col-sm-6 text-left">
                            <p class="font-weight-600 text-medium2">My Cart <span class="cokl">  </span> </p>
                        </div>
                        <div class="col-xl-6 col-6  col-xs-6 col-sm-6 text-right">
                            <p>Clean <img src="assets/img/shape.png"></p>
                        </div>


                    </div>
                    <div class="row   padding-top-25px border-bottom-s" *ngFor="let product of allProducts">
                        <div class="col-xl-9 col-xs-9 col-sm-9 col-9">
                            <ng-container *ngFor="let images of product?.adminProductsResponseModels?.productsImagesResponseModel">
                                <ng-container *ngIf="images.isDefault">
                                    <img style="width: 100px; height: auto; float: left" [src]="images.idUrl" alt="cart image">
                                </ng-container>
                            </ng-container>
                            <div class="vertical-algintop " style="margin-left: 110px">
                                <p class="font-weight-600 text-medium2 no-margin-bottom"> {{product?.adminProductsResponseModels?.name}} </p>
                                <p class="font-weight-600 text-medium2  no-margin-bottom cokl"> ₹ {{ calculateProductSinglePrice(product, quantity.value)}} </p>
                                <p class="font-weight-600 text-medium2  "> <img src="assets/img/star.png"> 4.7 </p>
                            </div>
                            <div fxFlex.xs="10" fxFlex.sm="10" fxFlex.md="10" fxFlex.lg="10" fxFlex.xl="10">
                                <div class="cart-item-price">
                                    <!-- <h4>₹ {{ calculateProductSinglePrice(product, quantity.value)}} 
                                </h4> -->
                                </div>
                            </div>
                        </div>
                        <!-- <div fxFlex.xs="30" fxFlex.sm="30" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                            <div class="cart-item-price">

                                <label *ngIf="product.maxFree >= fetchQunt(product)">Sample ({{fetchQunt(product)}} Quantity) <span style="float: right !important">₹ {{0 }} </span>  </label><br/>
                                <label *ngIf="product.maxFree < fetchQunt(product)"> Sample ({{product.maxFree}} Quantity) <span style="float: right !important">₹  {{0 }} </span>   </label><br/>
                                <label *ngIf="product.maxFree < fetchQunt(product)"> Price (₹ {{ calculatBuyQuant(product, quantity.value) }} Quantity)
                                    <span style="float: right !important">₹ {{ calculatBuyPrice(product, quantity.value)}}</span>
                                </label><br/>
                                <label *ngIf="product.maxFree < fetchQunt(product) && product.adminProductsResponseModels.buyQuant != 0 &&(product.adminProductsResponseModels.buyQuant+product.maxFree)< fetchQunt(product)">
                                    Discounted ({{ calculatFreeQuant(product, quantity.value) }} Quantity)
                                    <span style="float: right !important">₹ {{((product.adminProductsResponseModels.mainprice * (100 - product.adminProductsResponseModels.discountPercent) / 100) *  calculatFreeQuant(product, quantity.value)) }}</span>
                                </label>

                            </div>
                        </div> -->
                        <div class="col-xl-3 col-xs-3 col-sm-3 col-3 text-right">
                            <div class="d-block text-right">
                                <div class="d-inline-block padding-right-15px">
                                    <div class="quantity sm-border-lr-light-gray sm-border-bottom-light-gray">
                                        <div class="plus-minus sm-padding-top-15px sm-padding-bottom-15px">
                                            <div class="padding-5px  d-inline-block">
                                                <a href="javaScript:void(0)" class="minus-btn text-black color-them-1 padding-5px cokl" (click)="removeTCart(product)"><i
                                                        class="fas fa-minus"></i></a>
                                                <input type="text" name="name" #quantity (blur)="checkQuantity(product)" value="{{fetchQunt(product)}}" class="">
                                                <a href="javaScript:void(0)" class="plus-btn text-black color-them-1 padding-5px cokl" (click)="addToCartProduct(product)"><i
                                                        class="fas fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-inline-block">
                                    <p> <img src="assets/img/delete.png"> </p>
                                </div>
                            </div>


                        </div>


                    </div>


                </div>

            </div>
            <div class="col-xl-3">
                <div class="content-section bg-white">
                    <div class="content-section ">

                        <h3 class="padding-top-25px padding-left-15px    product-title line-height-15 d-block font-weight-600 text-medium2 md-title-mdall margin-bottom-20px sm-margin-bottom-15px">
                            ADD A TIP FOR YOUR DRIVER </h3>

                        <p class=" padding-left-15px  padding-right-15px text-small text-justify"> Your driver, (driver_name) is from a small town in Mandya. He dreams of owning a home one day </p>



                        <div class="clearfix text-center position-relative">
                            <div class="search-bar collapse show" id="search">
                                <input class="text-black border-radius-4" type="text" id="tip_amount" [(ngModel)]="tipamount" (blur)="tipPrice($event);"
                                    placeholder="Tip amount" />
                                <img style=" position: absolute; left: 30px; top: 10px; " src="assets/img/ic.png">
                            </div>
                        </div>

                        <div class="padding-15px">
                            <hr>
                            <div class="d-flex set-clip">
                                <div class="d-inline-block">
                                    <img class="color-them-1 imgover" src="assets/img/tag.png">
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="text-small padding-left-5px padding-right-4px">No Promo Code Applied</h6>
                                    <p class="text-extra-small padding-left-10px no-margin-bottom">3 Promo Code Available
                                    </p>
                                </div>
                                <div class="d-inline-block">
                                    <img class="color-them-1 imgover" src="assets/img/arrow-right.png">
                                </div>
                            </div>
                            <hr>
                            <h3 class="text-silver2 product-title line-height-15 d-block font-weight-600 text-medium2 md-title-mdall margin-bottom-20px sm-margin-bottom-15px">
                                Mobile Number </h3>
                            <div class="clearfix text-center position-relative">
                                <div class="search-bar collapse show" id="search">
                                    <input type="text" class="text-black form-control" autocomplete="off">
                                </div>
                            </div>
                            <hr>
                            <div class="row ">
                                <div class="col-xl-6 text-left">
                                    <p class="cokl text-medium no-margin-bottom">Subtotal</p>
                                </div>
                                <div class="col-xl-6 text-right">
                                    <p class="no-margin-bottom">₹ {{calculateTotalPrice() }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row ">
                                <div class="col-xl-6 text-left">
                                    <p class="cokl text-medium no-margin-bottom">Tip</p>
                                </div>
                                <div class="col-xl-6 text-right">
                                    <p class="no-margin-bottom">₹ {{tipamount }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row ">
                                <div class="col-xl-7 text-left">
                                    <p class="cokl text-medium no-margin-bottom">Promo Discount</p>
                                </div>
                                <div class="col-xl-5 text-right">
                                    <p class="no-margin-bottom">₹{{discountAmount}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row ">
                                <div class="col-xl-4 text-left">
                                    <p class="cokl text-medium no-margin-bottom">
                                        Total
                                        <span class="text-large cokl d-flex"> Rs. {{getTotalPrice() }}</span>
                                    </p>
                                </div>
                                <div class="col-xl-8 text-right">
                                    <a href="product-detail-sticky.html" class="btn btn-small"> <img
                                            src="assets/img/cart-white.png"> Payment </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- product-detail section end -->

<app-Footer></app-Footer>