<app-Header [navigations]="navigations"></app-Header>
<!--<div class="breadcrum">
    <div class="container">
        <div class="row padding-fifteen">
            <div class="col-xl-9 col-xs-4 col-6">
                <a class=""> <span><img class="icon-breadcurm" src="assets/img/box2.png"></span> 3840</a>
            </div>
            <div class="col-xl-3  col-xs-8 col-6 text-right no-padding-right">
                <div class="search-bar collapse show" id="search" style="">
                    <input type="text" class="text-black form-control" placeholder="Search">
                    <img class="d-block sm-display-none" style="    position: absolute; right: 5px; top: 6px; "
                         src="assets/img/search.png">
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- product-detail section start -->
<section class="breadcrumb-padding color-them-1" *ngIf="(allProducts && allProducts.length>0); else elseBlock">
    <div class="container">
        <div class="row product-service-without-sticky product-detail-list product-quickview-section" *ngIf="(allProducts && allProducts.length>0);">

            <div class="col-xl-9 ">

                <div class="col-xl-12   bg-white border-radius-4">

                    <div class="row  padding-top-25px border-bottom-s">
                        <div class="col-xl-6 col-6 col-xs-6 col-sm-6 text-left">
                            <p class="font-weight-600 text-medium2">My Cart <span class="cokl" *ngIf="allProducts"> {{allProducts.length}}  </span></p>
                        </div>
                        <div class="col-xl-6 col-6  col-xs-6 col-sm-6 text-right">
                            <p (click)="clearAll()">Clean <img src="assets/img/shape.png"></p>
                        </div>


                    </div>
                    <ng-container *ngIf="isMobile()">
                        <div class="row padding-top-25px padding-bottom-25px  border-bottom-s" *ngFor="let product of allProducts">
                            <ng-container *ngFor="let images of product?.adminProductsResponseModels?.productsImagesResponseModel">
                                <div class="col-xl-3 col-xs-3 col-sm-3 col-3">
                                    <ng-container *ngIf="images.isDefault">
                                        <img style="width: 80px; height: 80px; float: left" [src]="images.idUrl" alt="cart image">
                                    </ng-container>
                                </div>
                            </ng-container>
                            <div class="col-xl-9 col-xs-9 col-sm-9 col-9">
                                <div class="row">
                                    <div class="col-xl-12 col-xs-12 col-sm-12 col-12">
                                        <div class="vertical-algintop ">
                                            <!--style="margin-left: 110px">-->
                                            <p class="font-weight-600 text-medium2 no-margin-bottom">
                                                {{product?.adminProductsResponseModels?.name}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-xs-12 col-sm-12 col-12">
                                        <div class="vertical-algintop ">
                                            <!--style="margin-left: 110px">-->
                                            <p class="font-weight-600 text-medium2  no-margin-bottom cokl">
                                                ₹ {{calculateProductSinglePrice(product, quantity.value)}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-4 col-xs-4 col-sm-4 col-4">
                                        <div class="vertical-algintop ">
                                            <p class="font-weight-600 text-medium2  "><img src="assets/img/star.png"> {{product.rating}} </p>
                                        </div>
                                    </div>
                                    <div class="col-xl-8 col-xs-8 col-sm-8 col-8">
                                        <div class="d-block text-right">
                                            <div class="d-inline-block padding-right-15px">
                                                <!--<div class="quantity sm-border-lr-light-gray sm-border-bottom-light-gray">-->
                                                <div class="quantity">
                                                    <div class="plus-minus sm-padding-top-15px sm-padding-bottom-15px">
                                                        <div class="padding-5px  d-inline-block">
                                                            <a href="javaScript:void(0)" class="minus-btn text-black color-them-1 padding-5px cokl" (click)="removeTCart(product)"><i
                                                                class="fas fa-minus"></i></a>
                                                            <input type="text" name="name" #quantity (blur)="checkQuantity(product)" value="{{fetchQunt(product)}}" class="">
                                                            <a href="javaScript:void(0)" class="plus-btn text-black color-them-1 padding-5px cokl" (click)="addToCartProduct(product)"><i
                                                                class="fas fa-plus"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-inline-block">
                                                <p><img src="assets/img/delete.png" (click)="removeProduct(product)"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-xl-6 col-xs-6 col-sm-6 col-6 text-right">

                        </div>-->
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!isMobile()">
                        <div class="row padding-top-25px padding-bottom-25px border-bottom-s" *ngFor="let product of allProducts">
                            <div class="col-xl-6 col-xs-6 col-sm-6 col-6">
                                <div class="row">
                                    <div class="col-xl-4 col-xs-4 col-sm-4 col-4">
                                        <ng-container *ngFor="let images of product?.adminProductsResponseModels?.productsImagesResponseModel">
                                            <ng-container *ngIf="images.isDefault">
                                                <img style="width: 100px; height: auto; float: left" [src]="images.idUrl" alt="cart image">
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                    <div class="col-xl-8 col-xs-8 col-sm-8 col-8">
                                        <div class="vertical-algintop ">
                                            <!--style="margin-left: 110px">-->
                                            <p class="font-weight-600 text-medium2 no-margin-bottom">
                                                {{product?.adminProductsResponseModels?.name}} </p>
                                            <p class="font-weight-600 text-medium2  no-margin-bottom cokl"> ₹ {{ calculateProductSinglePrice(product, quantity.value)}} </p>
                                            <p class="font-weight-600 text-medium2  "><img src="assets/img/star.png"> {{product.rating}} </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-xs-6 col-sm-6 col-6 text-right">
                                <div class="d-block text-right">
                                    <div class="d-inline-block padding-right-15px">
                                        <!--<div class="quantity sm-border-lr-light-gray sm-border-bottom-light-gray">-->
                                        <div class="quantity">
                                            <div class="plus-minus sm-padding-top-15px sm-padding-bottom-15px">
                                                <div class="padding-5px  d-inline-block">
                                                    <a href="javaScript:void(0)" class="minus-btn text-black color-them-1 padding-5px cokl" (click)="removeTCart(product)"><i
                                                            class="fas fa-minus"></i></a>
                                                    <input type="text" name="name" #quantity (blur)="checkQuantity(product)" value="{{fetchQunt(product)}}" class="">
                                                    <a href="javaScript:void(0)" class="plus-btn text-black color-them-1 padding-5px cokl" (click)="addToCartProduct(product)"><i
                                                            class="fas fa-plus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-inline-block">
                                        <p><img src="assets/img/delete.png" (click)="removeProduct(product)"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                </div>

            </div>
            <div class="col-xl-3">
                <div class="content-section bg-white">
                    <div class="content-section ">

                        <h3 class="padding-top-25px padding-left-15px    product-title line-height-15 d-block font-weight-600 text-medium2 md-title-mdall margin-bottom-20px sm-margin-bottom-15px">
                            ADD A TIP FOR YOUR DRIVER </h3>

                        <p class=" padding-left-15px  padding-right-15px text-small text-justify" *ngIf="entireData"> {{entireData.driverdescription}} </p>


                        <div class="clearfix text-center position-relative">
                            <div class="search-bar collapse show" id="search">
                                <input class="text-black border-radius-4" type="text" id="tip_amount" style="padding-left: 40px;" [(ngModel)]="tipamount"
                                    (blur)="tipPrice($event);" placeholder="Tip amount" />
                                <img style=" position: absolute; left: 30px; top: 10px; " src="assets/img/ic.png">
                            </div>
                        </div>

                        <div class="padding-15px">
                            <hr>
                            <div class="d-flex set-clip" *ngIf="showPromoCode === 0">
                                <div class="d-inline-block">
                                    <img class="color-them-1 imgover" src="assets/img/tag.png">
                                </div>
                                <div class="d-inline-block" style="cursor: grab;width: 100%;" (click)="showPromoCodeVal(1)">
                                    <h6 class="text-small padding-left-5px padding-right-4px">No Promo Code Applied</h6>
                                    <p class="text-extra-small padding-left-10px no-margin-bottom">1 Promo Code Available
                                    </p>
                                </div>
                                <div class="d-inline-block">
                                    <img class="color-them-1 imgover" src="assets/img/arrow-right.png">
                                </div>
                            </div>

                            <div class=" padding-bottom-0px margin-top-15px" *ngIf="showPromoCode === 1">
                                <a class="" (click)="showPromoCodeVal(0)" style="cursor: grab;width: 100%;"> <i class="fas  icon-right fa-chevron-left"></i>  Cancel</a><br/>
                                <h3 class="text-small font-weight-600">Available Promo Codes </h3>

                                <!-- Start pormo code-->
                                <div class="d-flex set-clip border-light-siter padding-10px margin-top-15px" (click)="changePromoVal()">

                                    <div class="d-inline-block width-100">
                                        <h6 class="text-small padding-left-5px padding-right-4px">
                                            <span class="cokl font-weight-600" *ngIf="promocodes.type === 'Direct'"> {{promocodes.amount}} Rs</span>
                                            <span class="cokl font-weight-600" *ngIf="promocodes.type === 'Percent'"> {{promocodes.amount}} %</span>
                                            <span class="font-weight-600 text-small"> Off</span>
                                        </h6>
                                        <p class="text-extra-small padding-left-10px no-margin-bottom">Expires on {{promocodes.validTill}}</p>
                                    </div>
                                    <div class="d-inline-block line-height-40 radios">
                                        <ul>
                                            <li>
                                                <input type="radio" id="f-option" name="selector">
                                                <label for="f-option" style="right: 18px;width: 20px;" *ngIf="!isMobile()"></label>
                                                <label for="f-option" *ngIf="isMobile()"></label>
                                                <!-- (click)="selectPromo()" -->
                                                <div class="check" for="f-option"></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>


                                <!-- End promo code -->

                                <div class="row   margin-top-15px">

                                    <div class="col-xl-12 col-12 col-xs-12 col-sm-12 text-right">
                                        <a href="Javascript:void(0);" class="btn btn-small form-control border-radius-4" (click)="checkPromoCode()"> <img src="assets/img/tagdd.png"> Apply Promo Code </a>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex set-clip" *ngIf="showPromoCode === 2">
                                <div class="d-inline-block">
                                    <img class="color-them-1 imgover" src="assets/img/tag.png">
                                </div>
                                <div class="d-inline-block" style="cursor: grab;width: 100%" (click)="showPromoCodeVal(1)">
                                    <div class="d-inline-block" style="cursor: grab;margin-right: 5px;" (click)="showPromoCodeVal(1)">
                                        <h6 class="text-small padding-left-5px padding-right-4px">Promo Code Applied</h6>
                                        <p class="text-extra-small padding-left-10px no-margin-bottom" *ngIf="promocodes.type === 'Direct'"> {{promocodes.amount}} Rs Discount applied &nbsp;
                                        </p>
                                        <p class="text-extra-small padding-left-10px no-margin-bottom" *ngIf="promocodes.type !== 'Direct'">{{promocodes.amount}} % Discount applied &nbsp;
                                        </p>
                                    </div>
                                    <div style="float: right">
                                        <img _ngcontent-ooo-c2="" src="assets/img/delete.png" style="float: right" (click)="removePromoCode()">
                                    </div>
                                    <!-- <p class="text-extra-small padding-left-10px no-margin-bottom">1 Promo Code Available </p> -->

                                </div>
                                <!-- <div class="d-inline-block">
                                    <img class="color-them-1 imgover" src="assets/img/arrow-right.png">
                                </div> -->
                            </div>
                            <hr>
                            <div class="alert alert-danger alert-dismissable" *ngIf="errorMessage">
                                {{errorMessage}}
                                <a class="close" (click)="errorMessage=null;">&times;</a>
                            </div>
                            <div class="alert alert-success alert-dismissable" *ngIf="successMessage">
                                {{successMessage}}
                                <a class="close" (click)="successMessage=null;">&times;</a>
                            </div>

                            <div class="clearfix text-center position-relative" *ngIf="showscreen !== 5">
                                <div class="search-bar collapse show" id="search" *ngIf="showscreen === 1">
                                    <h3 class="text-silver2 product-title line-height-15 d-block font-weight-600 text-medium2 md-title-mdall margin-bottom-20px sm-margin-bottom-15px">
                                        Mobile Number </h3>
                                    <input type="text" [(ngModel)]="mobilenumber" placeholder="Mobile Number" class="text-black form-control" autocomplete="off">

                                </div>
                                <div class="search-bar collapse show" id="search" *ngIf="showscreen === 2">
                                    <h3 class="text-silver2 product-title line-height-15 d-block font-weight-600 text-medium2 md-title-mdall margin-bottom-20px sm-margin-bottom-15px">
                                        OTP Code </h3>
                                    <input type="text" [(ngModel)]="otp" placeholder="OTP Code" class="text-black form-control" autocomplete="off">
                                </div>
                                <div class="search-bar collapse show" id="search" *ngIf="showscreen === 3">
                                    <h3 class="text-silver2 product-title line-height-15 d-block font-weight-600 text-medium2 md-title-mdall margin-bottom-20px sm-margin-bottom-15px">
                                        Register With Us </h3>
                                    <input type="text" [(ngModel)]="usname" placeholder="Name" class="text-black form-control" autocomplete="off">
                                    <input type="text" [(ngModel)]="mobilenumber" placeholder="Mobile Number" class="text-black form-control" autocomplete="off">
                                </div>
                                <br/><a href="Javascript:void(0);" class="btn btn-small form-control border-radius-4" (click)="performAuth()"> Submit </a>
                                <br/><br/>
                                <a href="javascript:void(0)">
                                    <h1 (click)="registerWithUs()" *ngIf="showscreen === 1" class="text-silver2 product-title line-height-15 d-block font-weight-600 text-medium2 md-title-mdall margin-bottom-20px sm-margin-bottom-15px">
                                        Register with us! </h1>
                                </a>
                                <a href="javascript:void(0)">
                                    <h1 (click)="sendOtp()" *ngIf="showscreen === 2" class="text-silver2 product-title line-height-15 d-block font-weight-600 text-medium2 md-title-mdall margin-bottom-20px sm-margin-bottom-15px">
                                        Resend OTP </h1>
                                </a>
                                <a href="javascript:void(0)">
                                    <h1 (click)="loginW()" *ngIf="showscreen === 3" class="text-silver2 product-title line-height-15 d-block font-weight-600 text-medium2 md-title-mdall margin-bottom-20px sm-margin-bottom-15px">
                                        Have Account, Login </h1>
                                </a>
                            </div>
                            <hr>
                            <div class="row ">
                                <div class="col-xl-6 text-left">
                                    <p class="cokl text-medium no-margin-bottom">Subtotal</p>
                                </div>
                                <div class="col-xl-6 text-right">
                                    <p class="no-margin-bottom">₹ {{calculateTotalPrice() }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row ">
                                <div class="col-xl-6 text-left">
                                    <p class="cokl text-medium no-margin-bottom">Tip</p>
                                </div>
                                <div class="col-xl-6 text-right">
                                    <p class="no-margin-bottom">₹ {{tipamount }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row ">
                                <div class="col-xl-7 text-left">
                                    <p class="cokl text-medium no-margin-bottom">Promo Discount</p>
                                </div>
                                <div class="col-xl-5 text-right">
                                    <p class="no-margin-bottom">₹{{discountAmount}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row ">
                                <div class="col-xl-4 text-left">
                                    <p class="cokl text-medium no-margin-bottom">
                                        Total
                                        <span class="text-large cokl d-flex"> Rs. {{getTotalPrice() }}</span>
                                    </p>
                                </div>
                                <div class="col-xl-8 text-right">
                                    <a href="javascript:void(0)" (click)="checkout()" class="btn btn-small"> <img
                                            src="assets/img/cart-white.png"> Payment </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- product-detail section end -->
<ng-template #elseBlock>
    <section class="breadcrumb-padding color-them-1">
        <div class="box-top">&nbsp;</div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 text-center col-md-12">
                    <div class=" box-rounder padding-nine-top">
                        <span>
                                <img class="animated zoomIn" src="./assets/img/cart.png">
                            </span>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="clearfix  ">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-12 center-col text-center">
                    <div class="forgot-pwd">
                        <!-- title start -->
                        <div class="margin-bottom-15px">
                            <h3 class="font-weight-600 text-extra-large md-title-mdall"> Your Shopping Cart is Empty </h3>

                        </div>
                        <!-- title end -->
                        <div class="forgot-box">

                            <!-- get password start -->
                            <div class="new-pwd">
                                <a routerLink="/" class="btn btn-small"> Go for Shopping </a>
                            </div>
                            <!-- get password end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-template>
<app-Footer></app-Footer>
