@media(max-width:700px) {
  #tip_amount {
    width: 92%
  }
}
#tip_amount {
  background-color: #fff5ee;
}
.text-align-end {
  text-align: end;
}
.special-case-hr {
  margin-bottom: 0rem;
}
.special-case {
  background-color: #FD9651;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.white-color {
  color: white;
}
