    <app-Header></app-Header>
<!-- product-detail section start -->
<section class="breadcrumb-padding color-them-1">
    <div class="popup  animated modal zoomIn" id="myModal1" role="dialog">
        <div class="  modal-dialog bd-example-modal-lg">
            <!-- pop-up modal content start -->
            <div class="modal-content">
                <!-- pop-up modal body start -->
                <div class="modal-body bg-white">
                    <div class="row">
                        <a class="rounder-1 animated zoomIn" data-dismiss="modal">
                            <img src="assets/img/close-btn.png">
                        </a>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12 d-flex align-items-center">
                            <div class="padding-nine-top padding-nine-bottom padding-right-15px padding-left-15px width-100-d" *ngIf="selectedProduct">
                                <div class="clearfix text-center border-light-site padding-25px  margin-bottom-10px">
                                    <img class="cust-prod-image" src="{{(selectedProduct && selectedProduct && selectedProduct.adminProductsResponseModels.productsImagesResponseModel && selectedProduct.adminProductsResponseModels.productsImagesResponseModel.length > 0) ?  selectedProduct.adminProductsResponseModels.productsImagesResponseModel[0].idUrl : ''}}"/>
                                </div>
                                <h5 class="text-large"> {{selectedProduct.adminProductsResponseModels.name}} </h5>
                                <!-- pop-up news-letter start -->
                                <div class="clearfix list-item margin-three-top">
                                    <div class="content-section">
                                        <!-- product price-tag start -->
                                        <div class="price product-price d-block margin-bottom-15px sm-margin-bottom-10px">

                                            <span class="product-final-price font-weight-600 cokl">₹{{selectedProduct.adminProductsResponseModels.mainprice | number:'1.00-0'}}</span>

                                        </div>
                                        <!-- product price-tag end -->
                                        <!-- product description start -->
                                        <div class="product-description d-block margin-bottom-15px sm-margin-bottom-10px">
                                            <p class="no-margin-bottom text-small-1">
                                                {{selectedProduct.adminProductsResponseModels.description}}
                                            </p>
                                        </div>
                                        <!-- product description end -->
                                        <hr class="border-light-site margin-one-top margin-one-bottom">

                                        <!-- product color Brand -->
                                        <div class="color d-block   ">
                                            <label class="font-weight-600 no-margin-bottom cokl">Brand</label>
                                            <p class="text-medium margin-one-bottom">{{selectedProduct.adminProductsResponseModels.brandname}}</p>
                                        </div>
                                        <!-- product Brand end -->
                                        <hr class="border-light-site margin-one-top margin-one-bottom">
                                        <!-- product color Brand -->
                                        <div class="color d-block    ">
                                            <label class="font-weight-600 no-margin-bottom cokl">Category</label>
                                            <p class="text-medium margin-one-bottom">{{selectedProduct.adminProductsResponseModels.categoryname}}</p>
                                        </div>
                                        <!-- product Brand end -->
                                        <hr class="border-light-site margin-one-top margin-one-bottom">
                                        <!-- product color Brand -->
                                        <div class="color d-block  ">
                                            <label class="font-weight-600 no-margin-bottom cokl">Size</label>
                                            <p class="text-medium margin-one-bottom">{{selectedProduct.adminProductsResponseModels.sizesname}}</p>
                                        </div>
                                        <!-- product Brand end -->
                                    </div>
                                </div>
                                <!-- pop-up news-letter end -->
                            </div>
                        </div>
                        <!-- product action start -->
                        <!-- product action end -->
                    </div>
                    <div class="row " *ngIf="selectedProduct">
                        <div class="col-xl-12 ">
                            <div
                                    class="site-bg padding-top-15px padding-bottom-15px padding-left-15px padding-right-15px ">
                                <div class="d-inline-block" style="width:40%">
                                    <div class="quantity d-block margin-bottom-25px sm-margin-bottom-20px">
                                        <label class="d-block font-weight-600 no-margin-bottom colo text-white">Quantity:</label>
                                        <span class="  sm-text-large">
                                            <a href="javascript:void(0)" (click)="MinusProductQt(selectedProduct)" class="minus-btn op-set text-black text-white"><i
                                                    class="fas fa-minus bg-transparent"></i></a>
                                            <input type="text" name="name" style="border:none!important" value="1" class="text-white border-none" [(ngModel)]="selectedProduct.adminProductsResponseModels.prQuantity">
                                            <a href="javascript:void(0)" (click)="AddProductQt(selectedProduct)"
                                               class="plus-btn op-set text-black text-white"><i
                                                    class="fas fa-plus bg-transparent"></i></a>
                                        </span>
                                    </div>
                                </div>
                                <div class="d-inline-block">
                                    <a href="javascript:void(0)" class="btn btn-small op-set"> <img
                                            src="assets/img/cart-white.png"> Add to Cart </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pop-up modal body end -->
            </div>
            <!-- pop-up modal content end -->
        </div>
    </div>
    <div class="container">
        <div class="row product-service-without-sticky product-detail-list product-quickview-section">

            <div class="col-xl-9 " *ngIf="productDetails">

                <div class="col-xl-12  ">

                    <div class="row bg-white">
                        <!-- product quick-view end -->
                        <div
                            class="preview col-xl-6 col-lg-6 col-md-12 col-12 md-margin-bottom-30px sm-margin-bottom-20px margin-top-25px">
                            <!-- product main image start -->
                            <div class="preview-pic text-center tab-content">
                                <!-- product main image 1 start -->
                                <div class="tab-pane border-light-site padding-25px" *ngFor="let image of productDetails.adminProductsResponseModels.productsImagesResponseModel; let index = i;" [ngClass]="{'active': image.selected}">
                                    <a href="javascript:void(0)">
                                        <img src="{{image.idUrl}}" alt="product-detail" class="img-fluid img-fix-100 w-100">
                                    </a>
                                </div>
                            </div>
                            <!-- product main image end -->
                            <!-- product below image start -->
                            <ul class="preview-thumbnail nav nav-tabs">
                                <!-- product below image 1 start -->
                                <li class="active border-light-site padding-5px"  *ngFor="let image of productDetails.adminProductsResponseModels.productsImagesResponseModel;let i= index;" [ngClass]="{'active': image.selected}">
                                    <a href="javascript:void(0)" data-target="#pic-6" data-toggle="tab" (click)="selectImage(image)">
                                        <img src="{{image.idUrl}}" alt="product-detail" class="img-fluid w-100">
                                    </a>
                                </li>
                            </ul>
                            <!-- product below image end -->
                        </div>
                        <!-- product detail start -->
                        <div class="details col-xl-6 col-lg-6 col-md-12 col-12 margin-top-25px">
                            <div class="content-section">
                                <!-- product title start -->
                                <h3
                                    class="product-title d-block font-weight-600 text-extra-large md-title-mdall margin-bottom-20px sm-margin-bottom-15px">
                                    {{productDetails.adminProductsResponseModels.name}}
                                </h3>
                                <!-- product title end -->
                                <!-- product price-tag start -->
                                <div class="price product-price d-block margin-bottom-15px sm-margin-bottom-10px">


                                    <span class="product-final-price font-weight-600 cokl">₹{{productDetails.adminProductsResponseModels.mainprice | number:'1.00-0'}}</span>

                                </div>
                                <!-- product price-tag end -->
                                <!-- product description start -->
                                <div class="product-description d-block margin-bottom-15px sm-margin-bottom-10px">
                                    <p class="no-margin-bottom sm-text-large"> {{productDetails.adminProductsResponseModels.description}}</p>
                                </div>
                                <!-- product description end -->
                                <hr class="border-light-site">

                                <!-- product color Brand -->
                                <div class="color d-block margin-bottom-25px sm-margin-bottom-20px">
                                    <label class="font-weight-600 no-margin-bottom cokl">Brand</label>
                                    <p class="text-medium">{{productDetails.adminProductsResponseModels.brandname}}</p>
                                </div>
                                <!-- product Brand end -->
                                <hr class="border-light-site">
                                <!-- product color Brand -->
                                <div class="color d-block margin-bottom-25px sm-margin-bottom-20px">
                                    <label class="font-weight-600 no-margin-bottom cokl">Category</label>
                                    <p class="text-medium">{{productDetails.adminProductsResponseModels.categoryname}}</p>
                                </div>
                                <!-- product Brand end -->
                                <hr class="border-light-site">
                                <!-- product color Brand -->
                                <div class="color d-block margin-bottom-25px sm-margin-bottom-20px">
                                    <label class="font-weight-600 no-margin-bottom cokl">Size</label>
                                    <p class="text-medium">{{productDetails.adminProductsResponseModels.sizesname}}</p>
                                </div>
                                <!-- product Brand end -->

                                <!-- product action start -->
                                <div class="action d-block margin-bottom-20px sm-margin-bottom-15px">

                                    <a href="javascript:void(0)" class="btn btn-small"> <img
                                            src="assets/img/cart-white.png"> Add to Cart </a>

                                </div>
                                <!-- product action end -->

                            </div>
                        </div>
                        <!-- product detail end -->
                    </div>

                </div>

            </div>
            <div class="col-xl-3 sm-display-none">
                <div class="content-section bg-white">
                    <div class="content-section ">

                        <h3
                            class="padding-top-25px padding-left-15px    product-title line-height-15 d-block font-weight-600 text-extra-large md-title-mdall margin-bottom-20px sm-margin-bottom-15px">
                            You Might Also Like</h3>

                        <div class="blog-grid-img d-flex bg-white text-center padding-top-15px border-radius-4" *ngFor="let product of productYoMayLikeDetails;">

                            <div class="d-inline-block padding-left-15px ">
                                <a href="javascript:void(0)" routerLink="/ProductDetail/{{product.id}}">
                                    <img src="{{product.adminProductsResponseModels.productsImagesResponseModel[0].idUrl}}" alt="blog-grid1" class="cust-prod-image border-light-site img-fluid d-inline-block">
                                </a>
                            </div>
                            <div class="padding-left-5px d-inline-block  padding-right-15px"
                                style="vertical-align: top; position: relative;">
                                <p class="text-left text-small2 margin-bottom-5px">{{product.adminProductsResponseModels.name}}</p>
                                <p class=" margin-bottom-5px">
                                    <span class="text-left d-block cokl">
                                        ₹ {{product.adminProductsResponseModels.mainprice | number:'1.00-0'}}
                                    </span>
                                    <span class="d-block text-left ">

                                    </span>
                                </p>
                                <div class="d-inline-block text-left width-100-px">
                                    <img src="assets/img/star.png"> {{product.adminProductsResponseModels.rating ? product.adminProductsResponseModels.rating : 0}}
                                </div>

                                <a class="carts-1" (click)="AddtoCart(product)">
                                    <img src="assets/img/cartset.png">
                                </a>
                            </div>

                        </div>
                        <hr class="border-light-site">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- product-detail section end -->

<app-Footer></app-Footer>
