<app-Header></app-Header>
<section class="breadcrumb-padding color-them-1  minh620">
    <div class="container">
        <div class="clearfix">
            <!-- start -->
            <div class="row margin-one-top" >
                <div class=" border-radius-3 col-xl-12 col-lg-12 col-md-12">
                    <div class="clearfix"><h5 class=" text-extra-medium">2019</h5></div>
                    <div class="">
                        <!-- question start -->
                        <div class="bg-white  padding-two  ">
                            <!-- question title start -->
                            <div class="faqs">
                                <a class="text-black-ni"   data-toggle="collapse" href="#collapse8">
                                    <span class="text-extra-medium text-black-ni order-line-width"></span>
                                            <span class="datesets">
                                                <span class="date">26 </span>
                                                <span>Dec</span>
                                            </span>
                                            <span class="datesets-order">
                                                <span>Order : <span class="text-dark-orange"> #3840 </span>
                                                <span class="dis-block text-dark-orange"> ₹70.00 </span>
                                            </span>
                                        </span>

                                        <i class="mr-fix color-them-1 cokl fas fa-plus b  padding-10px"></i>
                                </a>
                            </div>
                            <!-- question title end -->
                            <!-- question description start -->
                            <div id="collapse8" class="collapse   padding-three-top ">
                                <p class="text-small    no-margin-bottom sm-text-large">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </div>
                            <!-- question description end -->
                        </div>
                        <!-- question end -->
                    </div>
                </div>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="row margin-one-top" >
                <div class=" border-radius-3 col-xl-12 col-lg-12 col-md-12">
                    <div class="clearfix"><h5 class=" text-extra-medium">2019</h5></div>
                    <div class="">
                        <!-- question start -->
                        <div class="bg-white  padding-two  ">
                            <!-- question title start -->
                            <div class="faqs">
                                <a class="text-black-ni"   data-toggle="collapse" href="#collapse10">
                                    <span class="text-extra-medium text-black-ni order-line-width"></span>
                                            <span class="datesets">
                                                <span class="date">26 </span>
                                                <span>Dec</span>
                                            </span>
                                            <span class="datesets-order">
                                                <span>Order : <span class="text-dark-orange"> #3840 </span>
                                                <span class="dis-block text-dark-orange"> ₹70.00 </span>
                                            </span>
                                        </span>
                                        <i class="mr-fix color-them-1 cokl fas fa-plus b  padding-10px"></i>
                                </a>
                            </div>
                            <!-- question title end -->
                            <!-- question description start -->
                            <div id="collapse10" class="collapse   padding-three-top ">
                                <p class="text-small    no-margin-bottom sm-text-large">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </div>
                            <!-- question description end -->
                        </div>
                        <!-- question end -->
                    </div>
                </div>
            </div>
            <!-- end -->
        </div>
    </div>
</section>
<app-Footer></app-Footer>
