<app-Header></app-Header>
<!-- product-detail section start -->
<section class="breadcrumb-padding color-them-1">
    <div class="container">
        <div class="row product-service-without-sticky product-detail-list product-quickview-section">

            <div class="col-xl-9 ">

                <div class="col-xl-12  ">

                    <div class="row bg-white">
                        <!-- product quick-view end -->
                        <div
                            class="preview col-xl-6 col-lg-6 col-md-12 col-12 md-margin-bottom-30px sm-margin-bottom-20px margin-top-25px">
                            <!-- product main image start -->
                            <div class="preview-pic text-center tab-content">
                                <!-- product main image 1 start -->
                                <div class="tab-pane active border-light-site padding-25px" id="pic-6">
                                    <a href="javascript:void(0)"><img src="assets/img/img-lg-1.png" alt="product-detail"
                                            class="img-fluid img-fix-100 w-100"></a>
                                </div>
                                <!-- product main image 1 end -->
                                <!-- product main image 2 start -->
                                <div class="tab-pane border-light-site padding-25px" id="pic-7">
                                    <a href="javascript:void(0)"><img src="assets/img/img-lg-1.png" alt="product-detail"
                                            class="img-fluid img-fix-100 w-100"></a>
                                </div>
                                <!-- product main image 2 end -->
                                <!-- product main image 3 start -->
                                <div class="tab-pane border-light-site padding-25px" id="pic-8">
                                    <a href="javascript:void(0)"><img src="assets/img/img-lg-1.png" alt="product-detail"
                                            class="img-fluid img-fix-100 w-100"></a>
                                </div>
                                <!-- product main image 3 end -->
                                <!-- product main image 4 start -->
                                <div class="tab-pane border-light-site padding-25px" id="pic-9">
                                    <a href="javascript:void(0)"><img src="assets/img/img-lg-1.png" alt="product-detail"
                                            class="img-fluid img-fix-100 w-100"></a>
                                </div>
                                <!-- product main image 4 end -->
                                <!-- product main image 5 start -->
                                <div class="tab-pane border-light-site padding-25px" id="pic-10">
                                    <a href="javascript:void(0)"><img src="assets/img/img-lg-1.png" alt="product-detail"
                                            class="img-fluid img-fix-100 w-100"></a>
                                </div>
                                <!-- product main image 5 end -->
                            </div>
                            <!-- product main image end -->
                            <!-- product below image start -->
                            <ul class="preview-thumbnail nav nav-tabs">
                                <!-- product below image 1 start -->
                                <li class="active border-light-site padding-5px">
                                    <a href="javascript:void(0)" data-target="#pic-6" data-toggle="tab"><img
                                            src="assets/img/img-sm-1.png" alt="product-detail"
                                            class="img-fluid w-100"></a>
                                </li>
                                <!-- product below image 1 end -->
                                <!-- product below image 2 start -->
                                <li class="border-light-site padding-5px">
                                    <a href="javascript:void(0)" data-target="#pic-7" data-toggle="tab"><img
                                            src="assets/img/img-sm-1.png" alt="product-detail"
                                            class="img-fluid w-100"></a>
                                </li>
                                <!-- product below image 2 end -->
                                <!-- product below image 3 start -->
                                <li class="border-light-site padding-5px">
                                    <a href="javascript:void(0)" data-target="#pic-8" data-toggle="tab"><img
                                            src="assets/img/img-sm-1.png" alt="product-detail"
                                            class="img-fluid w-100"></a>
                                </li>
                                <!-- product below image 3 end -->
                                <!-- product below image 4 start -->
                                <li class="border-light-site padding-5px">
                                    <a href="javascript:void(0)" data-target="#pic-9" data-toggle="tab"><img
                                            src="assets/img/img-sm-1.png" alt="product-detail"
                                            class="img-fluid w-100"></a>
                                </li>
                                <!-- product below image 4 end -->
                                <!-- product below image 5 start -->
                                <li class="border-light-site padding-5px">
                                    <a href="javascript:void(0)" data-target="#pic-10" data-toggle="tab"><img
                                            src="assets/img/img-sm-1.png" alt="product-detail"
                                            class="img-fluid w-100"></a>
                                </li>
                                <!-- product below image 5 end -->
                            </ul>
                            <!-- product below image end -->
                        </div>
                        <!-- product detail start -->
                        <div class="details col-xl-6 col-lg-6 col-md-12 col-12 margin-top-25px">
                            <div class="content-section">
                                <!-- product title start -->
                                <h3
                                    class="product-title d-block font-weight-600 text-extra-large md-title-mdall margin-bottom-20px sm-margin-bottom-15px">
                                    Himalaya Lip Balm</h3>
                                <!-- product title end -->
                                <!-- product price-tag start -->
                                <div class="price product-price d-block margin-bottom-15px sm-margin-bottom-10px">


                                    <span class="product-final-price font-weight-600 cokl">₹35.00</span>

                                </div>
                                <!-- product price-tag end -->
                                <!-- product description start -->
                                <div class="product-description d-block margin-bottom-15px sm-margin-bottom-10px">
                                    <p class="no-margin-bottom sm-text-large"> Himalaya's Lip Balm, made up of
                                        completely
                                        natural actives, relieves sore and chapped lips,
                                        especially during the winter season.</p>
                                </div>
                                <!-- product description end -->
                                <hr class="border-light-site">

                                <!-- product color Brand -->
                                <div class="color d-block margin-bottom-25px sm-margin-bottom-20px">
                                    <label class="font-weight-600 no-margin-bottom cokl">Brand</label>
                                    <p class="text-medium">Himalaya Global Holdings Ltd.</p>
                                </div>
                                <!-- product Brand end -->
                                <hr class="border-light-site">
                                <!-- product color Brand -->
                                <div class="color d-block margin-bottom-25px sm-margin-bottom-20px">
                                    <label class="font-weight-600 no-margin-bottom cokl">Category</label>
                                    <p class="text-medium">Beauty</p>
                                </div>
                                <!-- product Brand end -->
                                <hr class="border-light-site">
                                <!-- product color Brand -->
                                <div class="color d-block margin-bottom-25px sm-margin-bottom-20px">
                                    <label class="font-weight-600 no-margin-bottom cokl">Size</label>
                                    <p class="text-medium">Medium</p>
                                </div>
                                <!-- product Brand end -->

                                <!-- product action start -->
                                <div class="action d-block margin-bottom-20px sm-margin-bottom-15px">

                                    <a href="product-detail-sticky.html" class="btn btn-small"> <img
                                            src="assets/img/cart-white.png"> Add to Cart </a>

                                </div>
                                <!-- product action end -->

                            </div>
                        </div>
                        <!-- product detail end -->
                    </div>

                </div>

            </div>
            <div class="col-xl-3 sm-display-none">
                <div class="content-section bg-white">
                    <div class="content-section ">

                        <h3
                            class="padding-top-25px padding-left-15px    product-title line-height-15 d-block font-weight-600 text-extra-large md-title-mdall margin-bottom-20px sm-margin-bottom-15px">
                            You Might Also Like</h3>

                        <div class="blog-grid-img d-flex bg-white text-center padding-top-15px border-radius-4">

                            <div class="d-inline-block padding-left-15px ">
                                <a href="blog.html"><img src="assets/img/img-5.png" alt="blog-grid1"
                                        class="border-light-site img-fluid d-inline-block"></a>

                            </div>

                            <div class="padding-left-5px d-inline-block  padding-right-15px"
                                style="vertical-align: top; position: relative;">
                                <p class="text-left text-small2 margin-bottom-5px">Himalaya Lip Balm</p>
                                <p class=" margin-bottom-5px">
                                    <span class="text-left d-block cokl">
                                        ₹30.00
                                    </span>
                                    <span class="d-block text-left ">

                                    </span>
                                </p>
                                <div class="d-inline-block text-left width-100-px">
                                    <img src="assets/img/star.png"> 4.7
                                </div>

                                <a class="carts-1">
                                    <img src="assets/img/cartset.png">
                                </a>
                            </div>

                        </div>
                        <hr class="border-light-site">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- product-detail section end -->

<app-Footer></app-Footer>