<app-Header></app-Header>
<section class="webpage-site">
    <!-- pop-up section start -->
    <div class="popup  animated modal zoomIn" id="myModal1" role="dialog">
        <div class="  modal-dialog bd-example-modal-lg">
            <!-- pop-up modal content start -->
            <div class="modal-content">
                <!-- pop-up modal body start -->
                <div class="modal-body bg-white">
                    <div class="row">
                        <a class="rounder-1 animated zoomIn" data-dismiss="modal"> <img src="assets/img/close-btn.png">
                        </a>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12 d-flex align-items-center">

                            <div
                                class="padding-nine-top padding-nine-bottom padding-right-15px padding-left-15px width-100-d">

                                <div class="clearfix text-center border-light-site padding-25px  margin-bottom-10px">
                                    <img src="assets/img/img-2.png">
                                </div>
                                <h5 class="text-large"> Himalaya Lip Balm </h5>

                                <!-- pop-up news-letter start -->
                                <div class="clearfix list-item margin-three-top">


                                    <div class="content-section">

                                        <!-- product price-tag start -->
                                        <div
                                            class="price product-price d-block margin-bottom-15px sm-margin-bottom-10px">


                                            <span class="product-final-price font-weight-600 cokl">₹35.00</span>

                                        </div>
                                        <!-- product price-tag end -->
                                        <!-- product description start -->
                                        <div
                                            class="product-description d-block margin-bottom-15px sm-margin-bottom-10px">
                                            <p class="no-margin-bottom text-small-1"> Himalaya's Lip Balm, made up of
                                                completely
                                                natural actives, relieves sore and chapped lips,
                                                especially during the winter season.</p>
                                        </div>
                                        <!-- product description end -->
                                        <hr class="border-light-site margin-one-top margin-one-bottom">

                                        <!-- product color Brand -->
                                        <div class="color d-block   ">
                                            <label class="font-weight-600 no-margin-bottom cokl">Brand</label>
                                            <p class="text-medium margin-one-bottom">Himalaya Global Holdings Ltd.</p>
                                        </div>
                                        <!-- product Brand end -->
                                        <hr class="border-light-site margin-one-top margin-one-bottom">
                                        <!-- product color Brand -->
                                        <div class="color d-block    ">
                                            <label class="font-weight-600 no-margin-bottom cokl">Category</label>
                                            <p class="text-medium margin-one-bottom">Beauty</p>
                                        </div>
                                        <!-- product Brand end -->
                                        <hr class="border-light-site margin-one-top margin-one-bottom">
                                        <!-- product color Brand -->
                                        <div class="color d-block  ">
                                            <label class="font-weight-600 no-margin-bottom cokl">Size</label>
                                            <p class="text-medium margin-one-bottom">Medium</p>
                                        </div>
                                        <!-- product Brand end -->

                                    </div>


                                </div>

                                <!-- pop-up news-letter end -->
                            </div>

                        </div>
                        <!-- product action start -->
                        <!-- product action end -->
                    </div>
                    <div class="row ">
                        <div class="col-xl-12 ">
                            <div
                                class="site-bg padding-top-15px padding-bottom-15px padding-left-15px padding-right-15px ">
                                <div class="d-inline-block" style="width:40%">
                                    <div class="quantity d-block margin-bottom-25px sm-margin-bottom-20px">
                                        <label
                                            class="d-block font-weight-600 no-margin-bottom colo text-white">Quantity:</label>
                                        <span class="  sm-text-large">
                                            <a href="javascript:void(0)"
                                                class="minus-btn op-set text-black text-white"><i
                                                    class="fas fa-minus bg-transparent"></i></a>
                                            <input type="text" name="name" style="border:none!important" value="1"
                                                class="text-white border-none">
                                            <a href="javascript:void(0)"
                                                class="plus-btn op-set text-black text-white"><i
                                                    class="fas fa-plus bg-transparent"></i></a>
                                        </span>
                                    </div>
                                </div>
                                <div class="d-inline-block">
                                    <a href="product-detail-sticky.html" class="btn btn-small op-set"> <img
                                            src="assets/img/cart-white.png"> Add to Cart </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pop-up modal body end -->
            </div>
            <!-- pop-up modal content end -->
        </div>
    </div>
    <!-- pop-up section end -->
</section>
<app-Footer></app-Footer>