<app-Header></app-Header>
<section class="breadcrumb-padding color-them-1">
    <div class="box-top-t">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="col-xl-2">&nbsp;</div>
            <div class="bg-white  border-radius-3 col-xl-8 col-lg-8 col-md-8">
                <h5 class="padding-eight-top text-extra-medium">Privacy Policy</h5>
                <p class="padding-15px-tb text-small">This privacy policy has been compiled to better serve those who
                    are concerned with how their
                    'Personally Identifiable Information' (PII) is being used online. PII is information that can be
                    used on its
                    own or with other information to identify, contact, or locate a single person, or to identify an
                    individual
                    in context. Please read our privacy policy to get a clear understanding of how we collect, use,
                    protect
                    or otherwise handle your Personally Identifiable Information in accordance with our website.</p>

                <h5 class="text-extra-medium">What personal information do we collect from the people that visit our
                    blog, website or app?</h5>
                <p class="padding-15px-tb text-small">When ordering or registering on our site, as appropriate, you may
                    be asked to enter your name, email
                    address, location, credit card information, or other details. You may also be asked to log in
                    through
                    Facebook and share profile data to access additional features.</p>

                <h5 class="text-extra-medium">When do we collect information?</h5>
                <p class="text-small padding-15px-tb">We collect information from you when you register on our site,
                    place an order, fill out a form, enter
                    information on our site, or log in through your Facebook account.</p>
                <p class="text-small">To personalize your experience and to allow us to deliver the type of content and
                    product offerings
                </p>
                <p class="text-small"> in which you are most interested.
                </p>
                <p class="text-small">To improve our website in order to better serve you.
                </p>
                <p class="text-small">To administer a contest, promotion, survey or other site feature.
                </p>
                <p class="text-small">To quickly process your transactions.
                </p>
                <p class="text-small"> To provide retail brands with anonymous consumer behavior data
                </p>
                <p class="text-small"> To follow up with you after correspondence via email or remarketing</p>
            </div>
            <div class="col-xl-2">&nbsp;</div>
        </div>
    </div>

</section>
<app-Footer></app-Footer>