<app-Header></app-Header>
<section class="breadcrumb-padding color-them-1">
    <div class="box-top-t">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="col-xl-2">&nbsp;</div>
            <div class="bg-white minh620 border-radius-3 col-xl-8 col-lg-8 col-md-8">
                <h5 class="padding-eight-top text-extra-medium"> My Profile </h5>
                <br>
                <div class="row">
                    <div class="col-xl-6">
                        <label>Name</label>
                        <input class="color-them-1 no-border form-control" type="text">
                    </div>
                    <div class="col-xl-6">
                        <label>Gender</label>
                        <select class="color-them-1 arrodown-n no-border form-control">
                            <option>

                            </option>
                        </select>
                        <img class="arrowdown" src="assets/img/arrow-down.png">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xl-6">
                        <label>DOB</label>
                        <input class="color-them-1    no-border form-control" type="text">
                        <img class="calenderset" src="assets/img/calendar.png">
                    </div>
                    <div class="col-xl-6">
                        <label>Email</label>
                        <input class="color-them-1 no-border form-control" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 forgot-pwd text-right">
                        <br>
                        <div class="forgot-box">

                            <!-- get password start -->
                            <div class="new-pwd no-padding">
                                <a href="#" class="btn btn-small"> <i class="fas fa-check"></i> Update Details </a>
                            </div>
                            <!-- get password end -->


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2">&nbsp;</div>
        </div>
    </div>

</section>
<app-Footer></app-Footer>